@model IEnumerable<GoViatic.Web.Data.Entities.Traveler>

@{
    ViewData["Title"] = "Travelers";
}

<h2>Travelers</h2>

<p>
    <a asp-action="CreateTraveler" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Company)
            </th>
            <th>
                # Trips
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.User.Email)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.User.Document)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.User.Company)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Trips.Count)
            </th>
            <td>
                <a asp-action="EditTraveler" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                <a asp-action="DetailsTraveler" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="DeleteTraveler" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
