@model GoViatic.Web.Data.Entities.Trip

@{
    ViewData["Title"] = "Trip Details";
}


<h2>Trip to @Html.DisplayFor(model => model.City)</h2>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>
        <dt>
            # Viatics
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Viatics.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Viatics" asp-route-id="@Model.Id" class="btn btn-success">Create Viatic</a>
    <a asp-action="Trips" asp-route-id="@Model.Traveler.Id" class="btn btn-danger">Back to Trips</a>
</div>
<hr />
<h4>List of Viatics</h4>
<hr />
@if (Model.Viatics.Count == 0)
{
    <h4> No Viatics added</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Viatics.FirstOrDefault().ViaticName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Viatics.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Viatics.FirstOrDefault().InvoiceAmmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Viatics.FirstOrDefault().InvoiceDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Viatics.FirstOrDefault().ViaticType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Viatics.FirstOrDefault().ImageUrl)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Viatics)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViaticName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceAmmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoiceDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViaticType)
                    </td>
                    <td>
                        <div class="col-md-4">
                            @if (!string.IsNullOrEmpty(item.ImageUrl))
                            {
                                <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:120px;height:120px;max-height: 100%; width: auto;" />
                            }
                        </div>
                    </td>
                    <td>
                        <a asp-action="ViaticEdit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
            // Delete item
            var item_to_delete;
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Home/DeleteViatic/' + item_to_delete;
            });
        });
    </script>
}